.Dashboard-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    @include margin-20-lf;
    @media (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        @include margin-10-lf;
    }
}

.tickets {
    .tickets-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
}

.settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    @include margin-20-lf;
    @media (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        @include margin-10-lf;
    }
}

.projects {
    .projects-holder {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 20px;
        @include margin-20-lf;
        @media (max-width: 767px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
            @include margin-10-lf;
        }
    }
}

.courses-holder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    @include margin-20-lf;
}

.plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    @include margin-20-lf;
    @media (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        @include margin-10-lf;
    }
}

.friends-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    @include margin-20-lf;
    @media (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
        @include margin-10-lf;
    }
}

.files {
    .files-holder {
        .files-content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }
    }   
}