.toggle-hold {
    position: absolute;
    margin-right: 10px;
    display: none;
    background-color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    color: $blue-color;
    padding: 5px 8px;
    border-radius: 4px;
    transition: $main-transation;
    z-index: 2;
    &:hover {
        color: $blue-alt-color;
        border-color: $blue-alt-color;
    }
    &.open {
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 991px) {
    .toggle-hold {
        display: block;
    }
}