.sidebar {
    position: relative;
    background-color: white;
    width: 200px;
    box-shadow: 0 0 10px #ddd;
    h3 {
        position: relative;
        width: fit-content;
        margin: {
            left: auto;
            right: auto;
            bottom: 50px;
        }
        &::before,
        &::after {
            position: absolute;
            content: "";
            background-color: black;
            left: 50%;
            transform: translateX(-50%);
        }
        &::before {
            width: 80px;
            height: 2px;
            bottom: -20px;
        }
        &::after {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 4px solid white;
            bottom: -29px;
        }
    }
    .links {
        padding: 0 20px;
        li {
            a {
                display: block;
                color: black;
                padding: 10px;
                border-radius: 6px;
                margin-bottom: 5px;
                transition: $main-transation;
                &:hover,
                &.active {
                    background-color: #f6f6f6;
                }
                i {
                    margin-right: 10px;
                }
                i,
                span {
                    font-size: 14px;
                }
                span {
                    font-weight: 500;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .sidebar {
        width: 300px;
        height: 100%;
        position: fixed;
        z-index: 2;
        left: -100%;
        transition: $main-transation;
        &.show {
            left: 0;
        }
        h3 {
            width: 100%;
            margin-left: 50px;
            &::before,
            &::after {
                left: 22px;
            }
        }
        .toggle-hold {
            top: 20px;
            right: 20px;
        }
    }
}
