:root {
    --white: #ffffff;
    --white-dark: #e2e8f0;
    --blue: #0284c7;
    --blue-light: #bae6fd;
    --blue-middle: #6366f1;
    --blue-dark: #4c51bf;
    --blue-darker: #0c4a6e;
    --orange: #f97316;
    --orange-light: #fed7aa;
    --green: #10b981;
    --green-light: #99f6e4;
    --red: #ef4444;
    --red-light: #fecaca;
    --pink: #ec4899;
    --purple: #a855f7;
    --purple-light: #e9d5ff;
    --grey: #64748b;
    --grey-light: #94a3b8;
    --grey-dark: #475569;
    --black: #060708;
    --black-light: #334155;
    --transition: 0.3s;
}