.welcome {
        position: relative;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        .top {
            @include flex-between;
            background-color: #eee;
            padding: 20px;
            img {
                width: 200px;
                margin-bottom: -10px;
            }
        }
        > img {
            width: 64px;
            height: 64px;
            position: absolute;
            border: 4px solid white;
            border-radius: 50%;
            top: 105px;
            left: 20px;
            box-shadow: 0 0 5px #ddd;
        }
        .info {
            padding: 20px;
            margin: {
                top: 50px;
                bottom: 20px;
            }
            border: {
                top: 1px solid #eee;
                bottom: 1px solid #eee;
            }
            @include flex-arround-center;
            span {
                display: block;
                text-align: center;
                &:first-of-type {
                    font-size:16px;
                }
                &:last-of-type {
                    color: $grey-color;
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    a {
        @include blue-button;
        display: flex;
        width: fit-content;
        margin: 20px;
        margin-left: auto;
    }
}

.draft {
    form {
        input:not(:last-of-type),
        textarea {
            width: 100%;
            margin-bottom: 20px;
            background-color: #eee;
            border: none;
            padding: 10px;
            border-radius: 6px;
        }
        textarea {
            height: 180px;
        }
        .submit {
            @include blue-button;
            border: none;
            width: fit-content;
            margin-left: auto;
            display: flex;
            cursor: pointer;
        }
    }
}

.targets {
    .section {
        @include flex-align-center;
        margin-bottom: 10px;
        .icon {
            width: 80px;
            height: 80px;
            margin-right: 10px;
            @include flex-center;
            i {
                font-size: 20px;
            }
        }
        .content {
            flex: 1;
            span {
                display: block;
                &.text {
                    color: $grey-color;
                    font-weight: 500;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                &.number {
                    font-size: 16px;
                    font-weight: 700;
                }
            }
            .line {
                height: 4px;
                width: 100%;
                margin-top: 10px;
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: inherit;
                    &::before,
                    &::after {
                        position: absolute;
                    }
                    &::before {
                        right: -15px;
                        color: white;
                        font-size: 13px;
                        padding: 2px 3px;
                        border-radius: 4px;
                        top: -32px;
                    }
                    &::after {
                        content: "";
                        border: 5px solid;
                        right: -5px;
                        top: -10px;
                    }
                }
            }
        }
    }
}

.tickets {
    .ticket {
        @include flex-center;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 10px;
        height: 150px;
        i {
            font-size: 30px;
        }
        div {
            font-size: 25px;
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        span {
            font-size: 14px;
            color: $grey-color;
        }
    }
}

.news {
    .box {
        @include flex-between-center;
        img {
            width: 100px;
            border-radius: 6px;
            margin-right: 15px;
        }
        .info {
            flex: 1;
            h4 {
                margin-bottom: 15px;
            }
            p {
                margin-top: 0;
                color: $grey-color;
                font-size: 14px;
                font-weight: 500;
            }
        }
        span {
            @include button-eee;
        }
        &:not(:last-of-type) {
            @include border-bottom-eee;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.tasks {
    .box {
        @include flex-between-center;
        .info {
            flex: 1;
            h4 {
                margin-top: 10px;
                margin-bottom: 5px;
            }
            p {
                margin-top: 0;
                color: $grey-color;
            }
        }
        i {
            transition: $main-transation;
            cursor: pointer;
            &:hover {
                color: $red-color;
            }
        }
        &.line {
            opacity: .5;
            .info {
                text-decoration: line-through;
            }
        }
        &:not(:last-child) {
            @include border-bottom-eee;
        }
    }
}

.search {
    .content {
        @include flex-between-center;
        margin-bottom: 25px;
        &.head {
            color: $grey-color;
        }
        &.body {
            span {
                &:first-of-type {
                    font-weight: 500;
                }
                &:last-of-type {
                    @include button-eee;
                }
            }
        }
    }
}

.uploads {
    .content {
        .info {
            @include flex-between-center;
            &:not(:last-of-type) {
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
            img {
                width: 40px;
                margin-right: 10px;
            }
            .mid {
                flex: 1;
                h4 {
                    margin-bottom: 0;
                    margin-top: 0;
                    font-weight: normal;
                }
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    color: $grey-color;
                }
            }
        span {
            @include button-eee;
        }
        }
    }
}

.projects {
    .body {
        margin-left: 40px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            left: -25px;
            background-color: $blue-color;
        }
        p {
            margin-top: 30px;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: "";
                border-radius: 50%;
            }
            &::before {
                width: 24px;
                height: 24px;
                background-color: white;
                border: 2px solid $blue-color;
                left: -38px;
                top: 0;
            }
            &::after {
                width: 20px;
                height: 20px;
                background-color: $blue-color;
                z-index: 2;
                left: -34px;
                top: 4px;
            }
            &.four::after {
                animation: show-hide 2s linear infinite;
            }
            &.last::after {
                background-color: white;
            }
        }
    }
}

.reminders {
    .info {
        position: relative;
        margin-left: 50px;
        margin-top: 10px;
        p, span {
            font-size: 14px;
        }
        p {
            font-weight: bold;
            margin-bottom: 10px;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        &::before {
            width: 2px;
            height: 50px;
            left: -15px;
            top: 0;
        }
        &::after {
            width: 14px;
            height: 14px;
            top: 50%;
            transform: translateY(-50%);
            left: -45px;
            border-radius: 50%;
        }
    }
}

.post {
    .profile {
        display: flex;
        padding-bottom: 10px;
        @include border-bottom-ccc;
        img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
        .name {
            h4 {
                margin-top: 0;
                margin-bottom: 0;
            }
            p {
                margin-top: 5px;
                color: $grey-color;
            }
        }
    }
    .text {
        padding: {
            top: 10px;
            bottom: 30px;
        }
        margin-bottom: 20px;
        @include border-bottom-ccc;
        font-size: 16px;
        font-weight: 600;
    }
    .info {
        @include flex-between;
        color: $grey-color;
    }
}

.social {
    .info {
        margin-bottom: 10px;
        height: 50px;
        @include flex-between-center;
        i {
            height: 50px;
            width: 50px;
            @include flex-center;
            font-size: 25px;
            transition: $main-transation;
            &:hover {
                transform: rotate(6deg);
            }
        }
        span {
            flex: 1;
            margin-left: 20px;
            font-size: 16px;
            font-weight: 500;
        }
        i,a {
            color: white;
        }
        a {
            @include button;
            margin-right: 15px;
        }
    }
}

.projects-table {
    overflow-x: auto;
    @include card-style;
    margin-top: 20px;
    @include margin-20-lf;
    table, th, td {
        border-collapse: collapse;
        border: 1px solid $eee-color;
    }
    th,td {
        padding: 10px 20px;
    }
    th {
        text-align: left;
        height: 40px;
    }
    td {
        height: 50px;
    }
    table {
        min-width: 1000px;
        thead {
            background-color: $eee-color;
        }
        tbody {
            tr {
                td.imgs {
                    @include flex-align-center;
                    height: 70px;
                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        border: 2px solid white;
                        &:not(:first-of-type) {
                            margin-left: -15px;
                        }
                    }
                }
                td.color span {
                    @include button;
                    color: white;
                }
            }
        }
    }
}