.plans {
    .plan {
        @include card-style;
        border-radius: 0;
        .title {
            text-align: center;
            color: white;
            border: 3px solid white;
            h2 {
                font-size: 25px;
                margin-bottom: 0;
            }
            p {
                font-size: 40px;
                margin-top: 0;
                margin-bottom: 30px;
                margin-left: -5px;
            }
        }
        ul {
            li {
                @include flex-align-center;
                @include border-bottom-eee;
                i:first-of-type {
                    margin-right: 10px;
                    font-size: 18px;
                    &.green {
                        color: $green-color;
                    }
                    &.red {
                        color: $red-color;
                    }
                }
                i:last-of-type {
                    color: $grey-color;
                    font-size: 16px;
                }
                p {
                    flex: 1;
                }
            }
        }
        a {
            display: block;
            color: white;
            padding: 4px 10px;
            border-radius: 6px;
            margin-top: 10px;
            width: fit-content;
        }
    }
}