.projects {
    .projects-holder {
        .project {
            @include card-style;
            position: relative;
            h4 {
                font-weight: 500;
            }
            .date {
                position: absolute;
                top: 15px;
                right: 15px;
                color: $grey-color;
                font-size: 13px;
            }
            .imgs {
                margin-top: 30px;
                padding: 10px 0;
                @include border-bottom-eee;
                img {
                    width: 40px;
                    display: inline;
                    border-radius: 50%;
                    border: 2px solid white;
                    &:not(:first-of-type) {
                        margin-left: -15px;
                    }
                }
            }
            .skills {
                padding: 20px 0;
                @include border-bottom-eee;
                text-align: right;
                .data {
                    @include button-eee;
                    margin-left: 5px;
                }
            }
            .info {
                padding-top: 20px;
                @include flex-between-center;
                .line {
                    height: 7px;
                    width: 250px;
                    background-color: $eee-color;
                    border-radius: 10px;
                    position: relative;
                    > span {
                        height: inherit;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        width: 50%;
                        border-radius: 10px;
                    }
                }
                .price {
                    font-size: 14px;
                    color: $grey-color;
                }
            }
        }
    }
}